body {
  font-family: 'Garamond', 'times', serif;
  font-size: 112%;
  margin: 0 auto;
}
h1 { 
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 15px;
}
h2 { 
  font-variant: small-caps;
   margin-bottom: 15px;
}


ul.main-menu {
   display: flex;
  padding:  1em 1em;
  margin: 0;
  list-style: center;
  background-color: #fff;

}
ul.main-menu>li {
   font-size: 118%;
     display: flex;
    flex: 1 0 auto;
    color: #FFC2D4;
}
ul a {
  display: block;
   padding: 0 1em;
  color: #5D5A5B;
  text-decoration: none;
  text-align: center;
  border: 1px solid #fff;
}
a:hover {
  background: #FFE7EE;
}
.frame {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.aligncenter {
    text-align: center;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
 background-color: #FFFFFF;
  color:#5D5A5B ;
  font-family: 'Garamond', 'times', serif;
 font-size: 100%;
  display: flex;
  padding: 0 1em;
  margin: 0;
  text-align: center;
}

.dropdown-content {
 display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  color: #5D5A5B;
  text-decoration: none;
  text-align: center;
  border: 1px solid #fff;

}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:#FFE7EE;
  color: #5D5A5B;
}

.dropdown-content a:hover {
  background-color: #FFE7EE;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.pink {
  color:#FFC2D4!important;
}

.wrapper {
  margin-left: 15%;
  margin-right: 15%;
}
* {
  box-sizing: border-box;
}
.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-kftd{background-color:#efefef;text-align:left;vertical-align:top}
.tg .tg-fymr{font-weight:bold;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}

