body {
  font-family: 'Garamond', 'times', serif;
  font-size: 125%;
  margin: 0 auto;
}
h1 { 
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 15px;
}

ul.main-menu {
   display: flex;
  padding:  0.25em 1em;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border-right: 0.5em solid #FFE7EE;
  border-left: 0.5em solid #FFE7EE;
  
}
ul.main-menu>li {
     display: flex;
    flex: 1 0 auto;
    color: #FFC2D4;
}
ul a {
  display: block;
  padding: 0.25em 1em;
  color: #5D5A5B;
  text-decoration: none;
  text-align: center;
  border: 1px solid #fff;
}
a:hover {
  background: #FFE7EE;
}
.frame {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.aligncenter {
    text-align: center;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
 background-color: #FFFFFF;
  color:#5D5A5B ;
  font-family: 'Garamond', 'times', serif;
 font-size: 100%;
  border: none;
  display: flex;
  padding:  0.25em 1em;
  margin: 0;
}

.dropdown-content {
 display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  color: #5D5A5B;
  text-decoration: none;
  text-align: center;
  border: 1px solid #fff;

}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:#FFE7EE;
  color: #5D5A5B;
}

.dropdown-content a:hover {
  background-color: #FFE7EE;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.pink {
  color:#FFC2D4!important;
}
